<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}ToDo List{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('css/jumbotron-narrow.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascriptshead %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body>

        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/">ToDo List</a></li>
                        <li role="presentation"><a href="/create">Create ToDo</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">ToDo</h3>
            </div>

            <div class="row marketing">
                <div class="col-lg-12">
                    {% for flashmsg in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">{{ flashmsg }}</div>
                    {% endfor %}
                    {% for flashmsg in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">{{ flashmsg }}</div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>

            <footer class="footer">
            <p>&copy; 2015 Company, Inc.</p>
            </footer>

        </div> <!-- /container -->

        {% block javascripts %}
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
        {% endblock %}
        
    </body>
</html>