{% extends 'base.html.twig' %}

{% block body %}
    <a href="/" class="btn btn-default">Back to ToDo List</a>
    <br />
    <h2 class="page-header">{{ todo.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Due: <strong>{{ todo.dateDue|date('F j, Y, g:i a') }}</strong></li>
        <li class="list-group-item">Priority: <strong>{{ todo.priority.name }}</strong></li>
        <li class="list-group-item">Category: {{ todo.category.name }}</li>
    </ul>
    <p>{{ todo.description }}</p><br />
{% endblock %}