{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form.name) }}
{{ form_widget(form.category) }}
<a href="{{ link }}" class="btn btn-default" style="margin-bottom:15px;">New Category</a>
{{ form_widget(form.description) }}
{{ form_widget(form.priority) }}
{{ form_widget(form.date_due) }}
{{ form_widget(form.save) }}
{{ form_end(form) }}