{% extends 'base.html.twig' %}

{% block javascriptshead %}
    {{  parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block body %}
    {% if id < 1 %}
        <a href="/create" class="btn btn-default">Back to create new ToDo Task</a>
    {% else %}
        <a href="/edit/{{ id }}" class="btn btn-default">Back to editing ToDo Task</a>
    {% endif %}
    <br />
    <div class="col-lg-6">
    <h3 class="page-header">Registered Categories</h3>
        <ul class="list-group">
            {%  include 'todo/todocategory-item.html.twig' %}
        </ul>
    </div>
    <div class="col-lg-6">
    <h3 class="page-header">New Category</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    {%  if ajax %}
    <script>
        jQuery(document).ready(function() {
            jQuery.ajax({
                type: "POST",
                url: "/ajax",
                data: {
                    data: 1
                },
                success: function(response, dataType) {
                    jQuery('.list-group').html(response.data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error : ' + errorThrown);
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}